@page "/incidents/detailincident"
@using AppForSEII2526.Web.API
@using Microsoft.AspNetCore.Authorization
@inject AppForSEII2526APIClient apiservice

@attribute [Authorize]

<h3>Incident</h3>

@if (incident == null) {
    <p>@error</p>
} else
{
    <table class="table table-borderless table-sm">

    </table>

    <h4> Items reported: </h4>
    <table class="table" id="reportedItems">

    </table>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int IncidentID { get; set; }
    private IncidentDetailDTO incident;
    private string error = "";

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string userName = "";
        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            if (user is not null)
            {
                if (user.Identity is not null && user.Identity.IsAuthenticated && user.IsInRole("User"))
                {
                    userName = user.Identity.Name;
                }
            }
        }

        try
        {
            incident = await apiservice.GetIncidentAsync(IncidentID);
        }
        catch (ApiException exception)
        {
            incident = null;
        }
        if ((incident == null) || (incident.ReporterName != userName))
        {
            error = $"Error! You are not authorized to see this rental or there is not a rental with id={IncidentID}";
        }


    }
}
